adjustText
spacy
ipykernel
ipython
matplotlib
nltk
num2words
numpy
pandas
re
plotly_express
scikit-learn
scipy
sklearn_crfsuite
stop_words
imbalanced-learn
tensorflow
tqdm
wordcloud
collections
json
matplotlib
seaborn


